body{
    background-color: red;
}
.p1{
    background-color: orange;
    color: black;
    margin: 20px;
    padding: 20px;
}
.p2{
    background-color: darkorange;
    margin: 20px;
    padding: 20px;
}
.p3{
    background-color: tomato;
    margin: 20px;
    padding: 20px;
}
.p4{
    background-color: darkgoldenrod;
    margin: 20px;
    padding: 20px;
}
