body{
    background-color: orange;
}
.p1{
    background-color: brown;
    padding: 10px;
}
.p2{
    background-color: red;
    padding:10px;
}
.p3{
   background-color: olivedrab;
   padding: 10px;
}
.p4{
    background-color: tomato;
    padding: 10px;

}

.p5{
    background-color: yellow;
    padding: 10px;

}
.p6{
   background-color:cyan;
   padding: 10px;
}
.p7{
    background-color: firebrick;
    padding: 10px;
    
}

.p8{
    background-color: wheat;
    padding: 10px;

}

.p9{
    background-color:mediumvioletred;
    padding: 10px;


}

.p10{
    background-color: aquamarine;
    padding: 10px;

}

.p11{
    background-color: chocolate;
    padding: 10px
}
.p12{
    background-color:navajowhite ;
    padding: 10px;

}

