.h2-1{
    color: chartreuse;

}
.h2-2{
    color: green;
}
.h2-3{
    color: green;
}
.main-color{
    background-color: purple;
}
.main-color{
    background-color: hotpink;
}
.main-color{
background-color: black;
}

h1{
    color: blue;
}
body{
    background-color: aqua;
}
