*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: gold;
}
.p1{
    background-color: tomato;
}
.p2{
    background-color: blue;
}
.p3{
    background-color: violet;
}
.p4{
    background-color: aqua;
}